@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.esquerda{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b400ff;
    color: white;
}

.logotipo-texto{
    font-family: 'Pacifico', cursive;
    font-size: 60px;
}

.imagem-logo{
    width: 300px;
    height: 275px;
}