/* @import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
font-family: 'Luckiest Guy', cursive; */

.spinner-principal{
    text-align: center;
    background-color: #b400ff;

}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loader{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}

.loader::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
}

.loader::after{
    content: "";
    position: absolute;
    top: 0;
    left: 45%;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 
    0 0 10px black,
    0 0 20px black,
    0 0 30px black,
    0 0 40px black,
    0 0 50px black;
}

.loader span{
    position: absolute;
    top: 20px;
    right: 20px;
    left: 20px;
    bottom: 20px;
    background-color: #b400ff;
    border-radius: 50%;
}

@keyframes spinner {
    0%{
        transform: rotate(0deg); 
    }
    100%{
        transform: rotate(360deg);
    }
}

